<div class="modal fade" id="content_show">
	<div class="modal-dialog modal-dialog-centered" role="document" >
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">Tmp</h4>
			</div>
			
			<div class="modal-body">
				<p>No content</p>
			</div>
			
			<div class="modal-footer">
				<p>No date</p>
			</div>
		</div>
	</div>
</div>




